@import "tailwindcss";

:root {
  --orange: #FF501C;
  --dark-red: #481132;
  --yellow: #FEBB01;
  --gray-bg: #F7F6F4;
}

* {
  font-family: Arial, -apple-system, sans-serif;
}

body {
  background-color: #F7F6F4;
}